:root {
    --theme-dark: #001F59; 
    --theme-grey: #52668B;
    --theme-neon: #49CAEB;
    --theme-light: #F7F9FF;
    --theme-gradient-1: linear-gradient(87deg, #3BAAD0 -0.13%, #073067 61.49%, #001F59 84.97%);
    --theme-gradient-2: linear-gradient(87deg, #EB5C69 -0.13%, #073067 61.49%, #001F59 84.97%);
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
}

button {
    cursor: pointer;
}

body {
    font-family: Noto Sans;
}

.list {
    list-style: none;
} 

.link {
    text-decoration: none;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
}

.container {
    width: 100%;
    margin: 0 auto;
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
    }

.header {
    width: 100%;
    position: fixed;
    background-color: #FFF;
    z-index: 1000;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
}

.header-logo-img {
    width: 174px;
    height: 30px;
}

.button-leave-app {
    border: none;
    border-radius: 5px 20px;
    background: var(--theme-neon, #49CAEB);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 18px 20px;
    margin: 0 auto;
    max-width: 300px;
    width: 100%;
}

.button-leave-app:hover,
.button-leave-app:focus {
    background: #79E4FF;
}

.button-leave-app-text {
    color: #FFF;
    font-family: Noto Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5; 
}

.header-list {
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
}

.header-mobile-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-link {
    color: var(--theme-dark);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5; 
}

/*================HERO================*/

.hero-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 30px;
    padding-top: 150px;
    padding-bottom: 60px;
}

.hero {
    background-image: url(./img/bg-img.jpg);
    background-repeat: no-repeat;
    background-position: 70% 50%;
    background-size: cover;
    margin: 0 auto;
    width: 100%;
    height: auto;
}

.hero-title {
    color: #FFF;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.hero-item-text {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 2;
}

.hero-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

}

.hero-item {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
}

.hero-icon {
    width: 50px;
    height: 50px;
}

/*================SERVICES================*/

.services {
    padding-top: 60px;
}

.services-title {
    color: var(--Theme-dark, #001F59);
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    line-height: 1.33; 
    margin-bottom: 20px;
}

.services-text {
    color: var(--Theme-dark, #001F59);
    text-align: center;
    font-size: 17px;
    font-weight: 400;
    line-height: 2.18; 
    margin-bottom: 30px;
}

.services-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.services-item {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 30px;
    background: var(--Theme-light, #F7F9FF);
}

.services-item:nth-child(4n + 1) {
    border-radius: 50px 50px 0px 50px;
}

.services-item:nth-child(4n + 2) {
    border-radius: 50px 50px 50px 0px;
}

.services-item:nth-child(4n + 3) {
    border-radius: 50px 0px 50px 50px;
}

.services-item:nth-child(4n + 4) {
    border-radius: 0px 50px 50px 50px;
}

.services-item-conteiner {
    display: flex;
    align-items: center;
    gap: 20px;
}

.services-item-icon {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 60px;
    height: 60px;
}

.services-item-conteiner-title {
    color: var(--Theme-dark, #001F59);
    font-size: 24px;
    font-weight: 500;
    line-height: 1.83; 
}

.services-item-text {
    color: var(--Theme-dark, #001F59);
    font-size: 16px;
    font-weight: 400;
    line-height: 2; 
}

/*===============INDUSTRY================*/ 

.industry {
    padding-top: 60px;
    padding-bottom: 60px;
}

.industry-title {
    color: var(--Theme-dark, #001F59);
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    line-height: 1.33;
    margin-bottom: 30px;
}

.industry-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.industry-item {
    padding: 20px 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    border-bottom: 1px solid #E2E9F7;
}

.industry-item-title {
    width: 180px;
    color: var(--Theme-dark, #001F59);
    font-size: 24px;
    font-weight: 500;
    line-height: 1.83; 
}

.industry-item-text {
    color: var(--Theme-grey, #52668B);
    font-size: 16px;
    font-weight: 400;
    line-height: 2;
}

/*===============ADVANTAGES================*/

.advantages-list {
    display: flex;
    flex-wrap: wrap;
    overflow: visible;
}

.advantages-item {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.advantages-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: -50vw;
    right: -50vw;
    bottom: 0;
    z-index: -1;
  }

.advantages-item:nth-child(4n + 1)::before {
    background: var(--Theme-gradient-1, linear-gradient(87deg, #3BAAD0 -0.13%, #073067 61.49%, #001F59 84.97%));
}

.advantages-item:nth-child(4n + 3)::before {
    background: var(--Theme-gradient-2, linear-gradient(87deg, #EB5C69 -0.13%, #073067 61.49%, #001F59 84.97%));
}

.advantages-img {
    width: 100%;
    max-width: 570px;
    border-radius: 0px 50px;
}

.advantages-item-title {
    color: #FFF;
    font-size: 30px;
    font-weight: 500;
    line-height: 1.33;
    margin-bottom: 10px;
}

li.advantages-item:nth-child(2n) h3 {
    color: var(--Theme-dark, #001F59);
}

li.advantages-item:nth-child(2n) p {
    color: var(--Theme-grey, #52668B);
}

.advantages-item-text {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 2;
}

/*===============VACANCIES================*/

.vacancies {
    position: relative;
    overflow: visible;
    padding-top: 50px;
    padding-bottom: 50px;
    background: radial-gradient(101.3% 90.34% at 65.94% -48.3%, #E75C6A 0%, rgba(231, 92, 106, 0.00) 100%), linear-gradient(87deg, #3BAAD0 -0.13%, #073067 61.49%, #001F59 84.97%);

}

.vacancies-decoration-one {
    display: none;
}

.vacancies-decoration-two {
    display: none;
}

.vacancies-title {
    margin-bottom: 30px;
    color: #FFF;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    line-height: 1.33;
}

.vacancies-pretitle {
    margin-bottom: 10px;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5;
}

.vacancies-text {
    margin-bottom: 30px;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 2; 
}

.vacancies-connection-title {
    margin-bottom: 30px;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5; 
}

.vacancies-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center; 
}

.vacancies-item {
    max-width: 300px;
    width: 100%;
    padding: 18px 20px;
    border-radius: 5px 20px;
    border: 1px solid #FFF;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.vacancies-item:hover,
.vacancies-item:focus {
    background-color: #FFF;
}

.vacancies-item:hover path,
.vacancies-item:focus path {
    fill: var(--Theme-neon, #49CAEB);
}
.vacancies-item:hover a,
.vacancies-item:focus a  {
    color: var(--Theme-neon, #49CAEB);
}

.vacancies-link {
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
}

/*===============JOB================*/

.job {
    padding-top: 60px;
    padding-bottom: 60px;
}

.job-title {
    margin-bottom: 30px;
    color: var(--Theme-dark, #001F59);
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    line-height: 1.33;
}

.job-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 30px;
    justify-content: center;
}

.job-item {
    width: 140px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}


.job-text {
    color: var(--Theme-dark, #001F59);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 2;
}

/*===============APPLICATION================*/

.application {
    background: radial-gradient(101.3% 90.34% at 65.94% -48.3%, #E75C6A 0%, rgba(231, 92, 106, 0.00) 100%), linear-gradient(87deg, #3BAAD0 -0.13%, #073067 61.49%, #001F59 84.97%);
}

.application-container {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.application-title {
    color: #FFF;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    line-height: 1.33; 
}

.application-text {
    color: #FFF;
    text-align: center;
    font-size: 17px;
    font-weight: 400;
    line-height: 2.18;
}

/*===============FOOTER================*/

.footer {
    padding-top: 20px;
    padding-bottom: 20px;
    background: var(--Theme-light, #F7F9FF);
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.footer-navigation {
    display: none;
}

.footer-text {
    width: 100%;
    color: var(--Theme-grey, #52668B);
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.57; 
}

@media screen and (max-width: 1199px) {
    .container {
        padding: 0 30px;
    }

    .header-navigation {
        display: none;
    }

    .header-button {
        display: none;
    }

    .header-mobile-menu-button {
        width: 60px;
        height: 60px;
        background-color: var(--theme-neon);
        border-radius: 50%;
        border: none;
    }

    .mobile-menu {
        display: none;
        width: 100%;
        height: auto;
        padding: 30px 30px 60px;
        background: #FFF;
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
    }

    .header-mobile-button {
        width: 100%;
        max-width: 300px;
        margin: 0 auto;
        margin-bottom: 60px;
    }
}

@media screen and (min-width: 480px) {

}
@media screen and (min-width: 768px) {
    .hero {
        background-position: 50% 50%;
    }

    .hero-title {
        font-size: 70px;
        width: 570px;
    }

    .hero-item {
        gap: 30px;
    }
    
    .hero-item-text {
        width: 380px;
        font-size: 17px;
        line-height: 2.17; 
    }

    .hero-icon {
        width: 80px;
        height: 80px;
    }

/*================SERVICES================*/
    .services {
    padding-top: 80px;
    }

    .services-title {
        font-size: 40px;
        font-weight: 600;
        line-height: 1.5; 
    }
    
    .services-text {
        margin-bottom: 50px;
    }

    .services-item {
        width: calc((100% - 30px)/2);
    }

/*===============INDUSTRY================*/ 

    .industry {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .industry-title {
        font-size: 40px;
        font-weight: 600;
        line-height: 1.5;
        margin-bottom: 50px;
    }

/*===============ADVANTAGES================*/
/*===============JOB================*/

    .job {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}

@media screen and (min-width: 1200px) {
    .mobile-menu-button {
        display: none;
    }

    .mobile-menu {
        display: none;
    }

    .header-button {
        width: 215px;
        margin: 0;
    }

    .header-navigation {
        display: block;
    }

    .header-list {
        display: flex;
        align-items: center;
        gap: 35px;
    }

/*================HERO================*/

    .hero-container {
        gap: 50px;
        padding-top: 156px;
        padding-bottom: 100px;
    }

    .hero-button {
        margin: 0;
    }

/*================SERVICES================*/

    .services {
        padding-top: 100px;
    }

/*===============INDUSTRY================*/

    .industry {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .industry-item {
        gap: 30px;
    }

    .industry-item-text {
        width: 900px;
    }

/*===============ADVANTAGES================*/

    .advantages-item {
        align-items: center;
        gap: 130px;
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .advantages-item-title {
        font-size: 40px;
        font-weight: 600;
        line-height: 1.5;
        margin-bottom: 23px;
    }

    .advantages-item-group-text {
        width: 470px;
    }

    .advantages-item:nth-child(2n) {
        flex-direction: row-reverse;
    }

/*===============VACANCIES================*/

    .vacancies {
        padding-top: 100px;
        padding-bottom: 100px;
    }  

    .vacancies-container {
        position: relative;
    }

    .vacancies-decoration-one {
        display: block;
        position: absolute;
        left: -310px;
        z-index: 0;
        top: -100px;
    }
    
    .vacancies-decoration-two {
        display: block;
        position: absolute;
        right: -280px;
        z-index: 0;
        bottom: -100px;
    }

    .vacancies-item {
        z-index: 1;
    }

    .vacancies-title {
        margin: 0 auto;
        margin-bottom: 30px;
        font-size: 40px;
        font-weight: 600;
        line-height: 1.5;
    }
    
    .vacancies-pretitle {
        margin: 0 auto;
        margin-bottom: 10px;
        width: 972px;
        font-size: 24px;
        font-weight: 500;
        line-height: 1.83;
    }
    
    .vacancies-text {
        margin: 0 auto;
        margin-bottom: 50px;
        width: 770px;
    }
    
    .vacancies-connection-title {
        color: #FFF;
        text-align: center;
        font-size: 24px;
        font-weight: 500;
        line-height: 1.83; 
    }

/*===============JOB================*/

    .job {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .job-title {
        margin-bottom: 50px;
        color: var(--Theme-dark, #001F59);
        text-align: center;
        font-size: 40px;
        font-weight: 600;
        line-height: 1.5;
    }

    .job-list {
        column-gap: 30px;
    }

    .job-item {
        width: 170px;
    }

/*===============APPLICATION================*/

    .application {
        background: transparent;
    }

    .application-container {
        background: radial-gradient(101.3% 90.34% at 65.94% -48.3%, #E75C6A 0%, rgba(231, 92, 106, 0.00) 100%), linear-gradient(87deg, #3BAAD0 -0.13%, #073067 61.49%, #001F59 84.97%);
        border-radius: 50px;
    }

    .application-title {
        width: 970px;
        font-size: 40px;
        font-weight: 600;
        line-height: 1.5; 
    }

    .application-text {
        width: 970px;
    }

    .footer {
        padding-top: 43px;
        padding-bottom: 43px;
        margin-top: 100px;
    }

    .footer-container {
        justify-content: space-between;
    }

    .footer-navigation {
        display: block;
    }

    .footer-text {
        width: auto;
    }
    }

/*==================MODAL================*/

.backdrop {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 

.modal {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scaleY(1);
    width: 340px;
    padding: 50px 30px 30px;
    border-radius: 16px;
    background: #FFF;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.10);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
}

.modal-close {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 24px;
    height: 24px;
    border: none;
    padding: 0;
    background-color: transparent;
}

.modal-title {
    margin-bottom: 10px;
    color: var(--Theme-dark, #001F59);
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    line-height: 1.33;
}

.modal-pretitle {
    margin-bottom: 30px;
    color: var(--Theme-dark, #001F59);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 2;
}

.modal-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.input-text {
    padding: 15px 17px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #D7D9DD;
    background: #FFF;
    text-align: center;
    color: var(--Theme-grey, #52668B);
    font-size: 16px;
    font-weight: 400;
    line-height: 2; 
}

.thanks-form {
    display: none;
    width: 340px;
    padding: 50px 30px 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scaleY(1);
    border-radius: 16px;
    background: #FFF;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.10);
}

.thanks-title {
    margin-bottom: 10px;
    color: var(--Theme-dark, #001F59);
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    line-height: 1.33; 
}

.thanks-pretitle {
    margin-bottom: 30px;
    color: var(--Theme-dark, #001F59);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 2;
}